extends layout

block content
  p.important.text-center.
    La démarche du comité stratégique régionale de filière a pour but de valoriser et accompagner la filière numérique à La Réunion.  
    Trois leviers composent cette démarche : Emploi , Attractivité et Transition numérique.  
    En vous inscrivant sur le site, vous manifesterez votre soutien à cette démarche.


  .bg-gray
    h2.title-block Pour manifester votre soutien, remplissez ce formulaire
    .row
      .col-md-8.col-md-offset-2.col-xs-12
        form(method="POST", action="/agree/sign-in")
          .form-group
            input(type="text", placeholder="Prénom*", name="firstname", class="form-control",  required)
          .form-group
            input(type="text", placeholder="Nom*", name="lastname", class="form-control", required)
          .form-group
            input(type="text", placeholder="Poste*", name="job", class="form-control",required)
          .form-group
            input(type="email", placeholder="Email*", name="email", class="form-control", required)
          .form-group
            input(type="text", placeholder="Organisme*", name="organization", class="form-control", required)
            input(type="hidden", name="_csrf", value="#{csrf}")
          .text-center
            button(type="submit", class="btn btn-primary") Je soutiens

        p.text-center.mbt.
          Après avoir rempli ce formulaire vous recevrez un email pour confirmer votre action. Veuillez suivre les instructions qui y seront 
          indiquées 

  h2 Les personnes qui ont manifesté leur soutien
  .text-center
    for people in agreedPeople
      .people 
        .title #{people.firstname} #{people.lastname} 
        .subtitle #{people.organization} 
        .description #{people.job}
    else
      p Soyez le.a premier.ère !

  
